---
import { Icon } from "astro-icon";
---

<div class="footer">
  <div class="logo">
    <h2>Pichon Tattoo</h2>
  </div>
  <div class="social-container">
    <a
      href="https://www.instagram.com/pichon_tattoo/"
      target="_blank"
      aria-label="Enlace a pagina de Instagram"
    >
      <Icon name="mdi:instagram" class="social-icons" />
    </a>
    <a
      href="https://twitter.com/Pichontattoo1"
      target="_blank"
      aria-label="Enlace a pagina de Twitter"
    >
      <Icon name="mdi:twitter" class="social-icons" />
    </a>
    <a
      href="https://wa.me/2364513422"
      target="_blank"
      aria-label="Enlace a contacto de Whatsapp"
    >
      <Icon name="tabler:brand-whatsapp" class="social-icons" />
    </a>
  </div>
  <div class="data">
    <p>2023 - Pichon-Dev</p>
  </div>
</div>
<style>
  .footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }
  a {
    text-decoration: none;
  }
  .logo {
    width: 30%;
    padding: 2%;
  }
  .social-container {
    padding: 2%;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .social-icons {
    width: 30px;
    height: 30px;
    color: white;
    z-index: 15;
  }

  .social-icons:hover {
    color: yellow;
  }

  .data {
    width: 30%;
    padding: 2%;
  }
  .data p {
    margin-left: 15%;
  }

  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      height: auto;
      text-align: center;
    }
    .social-container {
      width: 90%;
    }
    .data {
      width: 90%;
    }
    .data h4 {
      margin: 0;
    }
    .logo {
      width: 90%;
    }
  }
</style>
