---
import { Icon } from "astro-icon";
---

<div class="footer">
  <div class="footer-container">
    <div class="data">
      <p>2023 - Pichon - Dev</p>
      <p>San Luis 327 - Vedia - Bs. As.</p>
      <p>Tel. 2364513422</p>
    </div>
  </div>
  <div class="social-container">
    <a
      href="https://www.facebook.com/bernabe.suarez/"
      target="_blank"
      aria-label="Enlace a pagina de Facebook"
    >
      <Icon name="ri:facebook-fill" class="social-icons" />
    </a>
    <a
      href="https://www.instagram.com/pichon_tattoo/"
      target="_blank"
      aria-label="Enlace a pagina de Instagram"
    >
      <Icon name="mdi:instagram" class="social-icons" />
    </a>
    <a
      href="https://twitter.com/Pichontattoo1"
      target="_blank"
      aria-label="Enlace a pagina de Twitter"
    >
      <Icon name="mdi:twitter" class="social-icons" />
    </a>
    <a
      href="https://wa.me/2364513422"
      target="_blank"
      aria-label="Enlace a contacto de Whatsapp"
    >
      <Icon name="tabler:brand-whatsapp" class="social-icons" />
    </a>
  </div>
</div>
<style>
  .footer-container {
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    width: 96%;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }
  a {
    text-decoration: none;
  }

  .social-container {
    padding: 2%;
    width: 10%;
    display: flex;
    justify-content: space-between;
  }
  .social-icons {
    width: 20px;
    height: 20px;
    color: white;
    z-index: 15;
  }

  .social-icons:hover {
    color: yellow;
  }

  .data {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .data p {
    font-weight: 100;
    font-family: "Inter";
  }

  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      height: auto;
      text-align: center;
    }
    .social-container {
      width: 90%;
    }
    .data {
      width: 90%;
    }
    .data h4 {
      margin: 0;
    }
    .logo {
      width: 90%;
    }
  }
</style>
