---
const { src } = Astro.props;
---

<div class="container" id="modal">
  <div class="modal">
    <img {src} alt="image gallery" />
  </div>
</div>

<style>
  .container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    z-index: 100;
  }
  .modal {
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: auto;
  }
</style>
