<div class="navContainer" id="nav">
  <div class="links">
    <a id="1" href="/">Home</a>
    <a id="2" href="/">About</a>
    <a id="3" href="/galeria">Gallery</a>
    <a id="4" href="">Contact</a>
    <button class="btn">Contactar</button>
  </div>
</div>
<style>
  .navContainer {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px transparent;
    height: 80%;
    transition: all 0.6s;
  }
  a:hover {
    border-bottom: 1px solid #fafafa;
  }

  .btn {
    width: 8rem;
    height: 2rem;
    text-transform: uppercase;
    background-color: rgb(196, 196, 4);
    color: black;
    border: none;
  }
  .btn:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(yellow, #967300);
  }
  @media (max-width: 768px) {
    .navContainer {
      height: 100vh;
      background-color: rgba(131, 131, 131, 0.8);
      backdrop-filter: blur(2px);
      transform: translateY(-100%);
      transition: 0.6s;
    }
    .links {
      flex-direction: column;
    }
    .links > a {
      margin-top: 30px;
    }
    .links > button {
      margin-top: 30px;
    }
    .active_menu {
      transform: translate(0%);
    }
  }
</style>
<script>
  const menu = document.getElementById("nav");
  const button = document.getElementById("btn");
  button.addEventListener("click", animatedMenu, { passive: true });
  const link1 = document.getElementById("1");
  const link2 = document.getElementById("2");
  const link3 = document.getElementById("3");
  const link4 = document.getElementById("4");
  link1.addEventListener("click", animatedMenu, { passive: true });
  link2.addEventListener("click", animatedMenu, { passive: true });
  link3.addEventListener("click", animatedMenu, { passive: true });
  link4.addEventListener("click", animatedMenu, { passive: true });

  function animatedMenu() {
    menu.classList.toggle("active_menu");
  }
</script>
